html * {
    font-family: "Exo 2.0";
    font-size:  9pt;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    font-family: "Exo 2.0 Light";
    font-weight: normal;  
}

strong {
    font-family: "Exo 2.0 Light";
}

.page {
    border: 1pt solid #58595b;
    margin: 1cm auto;
    height: 29.7cm;
    width: 21cm;
    padding: 2cm;
}

@media print {
    .page {
        border: none;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

.content {
    width: 100%;
}

.left-column {
    width: 25%;
    line-height: 0.7cm;
    font-family: "Exo 2.0 Light";
    font-size:  12pt;
    text-transform: uppercase;
    color: #dd504d;
    vertical-align: top;
}

.left-column span {
    margin-right: 12pt;
}

.right-column {
    vertical-align: top;
}

.delimiter {
    height:  32pt;
    vertical-align: middle;
}

.delimiter hr {
    color:  #58595b;
    border-style: dashed;
    border-width: 1pt 0 0 0;
}

.highlighted {
    color: #dd504d;
}

.blankline {
    height:  9pt;
}

.clr {
    clear: both;
}

#contact div {
    padding-left: 16pt;
    background-size: 12pt auto;
    background-repeat: no-repeat;
    line-height: 12pt;
    height: 12pt;
    display: inline-block;
    margin: 0 16pt 0 0; 
}

#mail {
    background-image: url('img/email.svg');
}

#location {
    background-image: url('img/location.svg');
}

#phone {
    background-image: url('img/phone.png');
}

#photo {
    height: 4cm;
    width: 4cm;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#name {
    margin: 12pt 0 0 0;
    font-size: 28pt;
}

#title {
    margin: 6pt 0 2pt 0;
    font-size: 12pt;
}

.summary {
    margin: 0pt 0 12pt 0;
    list-style-type: none;
}

.summary li {
    margin-bottom: 6pt;
}

#numbers td {
    padding:  0 3pt 0 3pt;
    text-align: center;
    font-size: 10pt;
    color: #58595b;
    width: 25%;
}

.number {
    border: 2pt solid #000; 
    border-radius: 50%;
    color: #000;
    height: 1.8cm; 
    width: 1.8cm; 
    text-align: center; 
    line-height: 1.8cm; 
    font-size: 18pt;
    margin: 0 auto 5pt auto;
}

.right-column .title {
    font-family: "Exo 2.0 Medium";
    font-size: 10pt;
}

.right-column .period {
    font-family:  "Exo 2.0 Light";
    font-size: 10pt;
    float: right;
    color: #dd504d;
}

.right-column .description, .tags, #thesis p {
    margin: 2pt 0 2pt 0;
}

.tags {
    padding: 0 0 0 14pt;
    background-size: 12pt 12pt;
    background-repeat: no-repeat;
    line-height: 12pt;
    background-image: url('img/tags.svg');
}

.tags li {
     display: inline-block;
     margin-left: 4pt;   
}

.tags li::after
{ 
    content:";";
}

#thesis {
    margin: 4pt 0 4pt 0;
    padding-left: 16pt;
    background-image: url('img/bonet.svg');
    background-size: 12pt auto;
    background-position: top left;
    background-repeat: no-repeat;
}

#thesis strong {
    font-family:  "Exo 2.0 Semi Bold";
    font-weight: normal;
}

.language {
    display: inline-block;
    margin-right: 24pt;
    text-indent: 2pt;
    font-size: 12pt;
}

.listing {
    list-style-type: none;
    line-height: 14pt;
}

.listing * {
    font-size: 10pt;
}

.circle { 
	height: 6pt;  
    width: 6pt;
	border-radius: 50%;
    border: 1pt solid #dd504d;
    display: inline-block;
    margin: 4pt 1pt 0pt 1pt;
}

.circle.filled {
    background-color: #dd504d;
}

.qr {
    display: inline-block;
    text-align: center;
    width:  32%;
    height: 4cm;
    background-size: 3cm 3cm;
    background-position: bottom center;
    background-repeat: no-repeat; 
}

#linkedin {
    background-image: url('img/linkedin.svg');
}

#github {
    background-image: url('img/github.svg');
}

#coursera {
    background-image: url('img/coursera.svg');
}
