html * {
    font-family: Calibri, serif;
    font-size:  10pt;
    line-height: 1.4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    font-family: inherit;
    font-weight: lighter;
    font-stretch: expanded;
}

a {
    color: #4183C4;
    text-decoration: none;
}

.page {
    border: 1pt solid #58595b;
    margin: 1cm auto;
    height: 29.7cm;
    width: 21cm;
    padding: 2cm;
    overflow: hidden;
}

@media print {
    .page {
        border: none;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

.content {
    width: 100%;
}

.left-column {
    width: 24%;
    line-height: 0.7cm;
    font-family: inherit;
    font-weight: lighter;
    font-size: 14pt;
    text-transform: uppercase;
    color: #dd504d;
    vertical-align: top;
}

.left-column span {
    margin-right: 8pt;
    font-size:  14pt;
}

.right-column {
    vertical-align: top;
}

.delimiter {
    height:  32pt;
    vertical-align: middle;
}

.delimiter hr {
    color:  #58595b;
    border-style: dashed;
    border-width: 1pt 0 0 0;
}

.highlighted {
    color: #dd504d;
}

.blankline {
    height:  9pt;
}

.clr {
    clear: both;
}

#contact div {
    padding-left: 16pt;
    background-size: 12pt auto;
    background-repeat: no-repeat;
    line-height: 12pt;
    height: 12pt;
    display: inline-block;
    margin: 0 16pt 0 0;
}

#mail {
    background-image: url('img/email.svg');
}

#location {
    background-image: url('img/location.svg');
}

#phone {
    background-image: url('img/phone.png');
}

#photo {
    height: 4cm;
    width: 4cm;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#name {
    margin: 12pt 0 0 0;
    font-size: 24pt;
}

#title {
    margin: 0 0 6pt 0;
    font-size: 12pt;
}

.summary {
    margin: 0 0 12pt 0;
    list-style-type: none;
}

.summary li {
    margin-bottom: 6pt;
}

.right-column .title {
    font-family: inherit;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-size: 11pt;
}

.right-column .subtitle {
    color: #666;
}

.right-column .period {
    font-family: inherit;
    font-weight: lighter;
    float: right;
    color: #dd504d;
}

.description, #thesis p {
    margin: 0.25em 0 0.25em 0;
}

.achievements {
    padding-left: 2em;
}

#thesis {
    margin: 4pt 0 4pt 0;
    padding-left: 16pt;
    background-image: url('img/bonet.svg');
    background-size: 12pt auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.language {
    display: inline-block;
    margin-right: 24pt;
    text-indent: 2pt;
    font-size: 12pt;
}

.listing {
    list-style-type: none;
    line-height: 14pt;
}

.circle { 
	height: 6pt;  
    width: 6pt;
	border-radius: 50%;
    border: 1pt solid #dd504d;
    display: inline-block;
    margin: 4pt 1pt 0 1pt;
}

.circle.filled {
    background-color: #dd504d;
}
